html{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	background-image: url(images/background1.png);
	background-position: -10px -100px;
	background-repeat: no-repeat;
	background-size: 1920px 1200px;
	background-color: #0d0d0d;
}
body{
	margin: 0px;
	margin-top: 5px;
	margin-right: 70px;
	margin-left: 20px;
}
.button {
	grid-column: 3;
	grid-row: 5;
    border: none;
    border-color: none;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.dj{
	text-align: center;
	grid-column: 3;
	grid-row: 5;
	color: white;
}
.dj2{
	text-align: center;
	grid-column: 3;
	grid-row: 7;
	color: white;
}
.dj a{
	color: white;
}
.dj2 a{
	color: white;
}
.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.container{
	margin-top: 25px;
	display: grid;
	grid-template-columns: 150px 1fr 150px;
	grid-template-rows: 50px 120px 270px 600px 50px 1fr 50px 1fr;
}
.logo{
	font-size: 45px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}
.moto{
	grid-column: 2;
	grid-row: 3;
	color: white;
	font-family: 'Salsa', cursive;
	font-size: 55px;
	text-align: center;
}
.wai{
	grid-column: 2;
	grid-row: 5;
	color: white;
	text-align: center;
	font-size: 33px;
	border-style: solid;
	border-color: white;
	border-width: 0px;
	border-bottom-width: 2px;
}
.about_text{
	font-size: 35px;
	font-family: 'Stardos Stencil', cursive;
	color: white;
	grid-column: 2;
	grid-row: 6;
	text-align: justify;
}
.contacts{
	grid-column: 2;
	grid-row: 7;
	color: white;
	text-align: center;
	font-size: 33px;
	border-style: solid;
	border-color: white;
	border-width: 0px;
	border-bottom-width: 2px;
}
.my_contacts{
	text-align: center;
	font-size: 50px;
	font-family: 'Stardos Stencil', cursive;
	color: white;
	grid-column: 2;
	grid-row: 8;
}
.my_contacts a{
	color: white;
}
ul.navigation-ul{  /* меню */
 display: flex;
 padding-left: 0px;
 justify-content: center;
 margin-bottom: 0px;
 z-index: 2;
}
li.navigation-li{  /* пункты меню текст */
 text-align: bottom;	
 list-style: none;
 padding: 0px;
 padding-left: 20px;
 padding-right: 20px;
 border-radius: 5px;
 }
li.navigation-li a{ /* Ссылка в пунктах меню */
 text-decoration: none;
 font-size: 17px;
 color: #fff;
 position: relative;
 padding: 0px;
}
li.navigation-li a i{
 margin-right: 100px;
} 
li.navigation-li a::before{ /* Крутилки вертелки до */
 content: '';
 width: 0;
 height: 2px;
 background-color: #000000;
 position: absolute;
 top: 100%;
 left: 0px;
 transition: .5s;
 mix-blend-mode: multiply;
}
li.navigation-li a::after{ /* Крутилки вертелки после */
 content: '';
 width: 0;
 height: 2px;
 background-color: #000000;
 position: absolute;
 top: 90%;
 right: 0;
 transition: .5s;
 mix-blend-mode: multiply;
}
li.navigation-li:hover a::before{
 width: 50%;
 transform: translateX(100%);
}
li.navigation-li:hover a::after{
 width: 50%;
 transform: translateX(-100%);
}
li.navigation-li a:hover{
 color: #fff;
}